[package]
name = "auction-common"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
serde = "1.0.149"
sha256 = "1.1.1"
compare = "0.1.0"

[dependencies.postcard]
version = "1.0.2"
features = ["alloc"]